
.imgStyle {
  width: 200px; 
  height: 200px;
}


.card {
  padding: 5px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

.imgStyleShimmer {
  width: 200px;
  height: 200px;
  background-color: lightgray;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
}
.navStyle{
  padding: 2px;
  margin: 2px;
  width: 96px;
  justify-content: center;
}
